<table class="table">
    <thead>
        <tr>
            <th scope="col btn">Title</th>
            <th scope="col">Image</th>
            <th scope="col">Collaborators</th>
            <th scope="col">Privacy</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pin of pinList;">
            <td>{{pin.title}}</td>
            <td><img [src]="pin.image" class="pin-item-img" /></td>
            <td>
                <ul>
                    <li *ngFor="let clb of pin.collaborators;">{{clb.itemName}}</li>
                </ul>
            </td>
            <td>{{pin.privacy}}</td>
        </tr>
    </tbody>
</table>