<div class="container mt-3">
  <div class="row">
    <!-- Start: Add customer button -->
    <div class="col-12 add-cust">
      <button type="button" class="btn btn-outline-info float-right" data-toggle="modal"
        data-target="#createCustomerModal">+ Add Customer</button>
    </div>
    <!-- End: Add customer button -->
    <!-- Start: Add pin button -->
    <div class="col-12 add-pin my-1">
      <h4 class="float-left m-0">List Of Pins</h4>
      <button type="button" class="btn btn-outline-info float-right" data-toggle="modal" data-target="#createPinModal">+
        Add Pin</button>
    </div>
    <!-- End: Add pin button -->
    <!-- Start: Pin list -->
    <app-pin-list class="col-12" [pinList]="pinList"></app-pin-list>
    <!-- End: Pin list -->
  </div>
</div>
<!-- Start: Customer form -->
<div class="modal fade" id="createCustomerModal" tabindex="-1" aria-labelledby="createCustomerModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Start: Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="createCustomerModalLabel">Create Customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="custForm.reset()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- End: Modal Header -->
      <!-- Start: Modal body form details -->
      <div class="modal-body">
        <form name="cutomerForm" [formGroup]="custForm">
          <div class="form-group">
            <label for="customer-name" class="col-form-label">Name<span class="text-danger">*</span>:</label>
            <div *ngIf="custForm.get('name').invalid && (custForm.get('name').dirty || custForm.get('name').touched)"
              class="d-inline-block text-danger ml-2">
              Please provide a name.
            </div>
            <input type="text" class="form-control" formControlName="name" id="customer-name">
          </div>
          <div class="form-group">
            <label for="email-name" class="col-form-label">Email<span class="text-danger">*</span>:</label>
            <div *ngIf="custForm.get('email').invalid && (custForm.get('email').dirty || custForm.get('email').touched)"
              class="d-inline-block text-danger ml-2">
              Please provide a email.
            </div>
            <input type="text" class="form-control" formControlName="email" id="email-name">
          </div>
          <div class="form-group">
            <label for="region-name" class="col-form-label">Region<span class="text-danger">*</span>:</label>
            <div
              *ngIf="custForm.get('region').invalid && (custForm.get('region').dirty || custForm.get('region').touched)"
              class="d-inline-block text-danger ml-2">
              Please provide a region.
            </div>
            <select class="form-control" formControlName="region" (change)="handleRegionAndCountryList($event,'region')"
              id="region-name">
              <option value="">Select</option>
              <option *ngFor="let region of region.list;" [value]="region">{{region}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="country-name" class="col-form-label">Country<span class="text-danger">*</span>:</label>
            <div
              *ngIf="custForm.get('country').invalid && (custForm.get('country').dirty || custForm.get('country').touched)"
              class="d-inline-block text-danger ml-2">
              Please provide a country.
            </div>
            <select class="form-control" formControlName="country"
              (change)="handleRegionAndCountryList($event,'country')" id="country-name">
              <option value="">Select</option>
              <option *ngFor="let country of region.countries;" [value]="country">{{country}}</option>
            </select>
          </div>
        </form>
      </div>
      <!-- End: Modal body form details -->
      <!-- Start: Footer action button -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" #customerFormEl
          (click)="custForm.reset()">Close</button>
        <button type="button" class="btn btn-outline-primary" (click)="saveCustomer()">Save Details</button>
      </div>
      <!-- End: Footer action button -->
    </div>
  </div>
</div>
<!-- End: Customer form modal -->

<!-- Start: Pin form modal -->
<div class="modal fade" id="createPinModal" tabindex="-1" aria-labelledby="createPinModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Start: Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="createPinModalLabel">Create Pin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetPinForm()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- End: Modal Header -->
      <!-- Start: Modal body form details -->
      <div class="modal-body">
        <form name="pinForm" [formGroup]="pinForm">
          <div class="form-group">
            <label for="title-name" class="col-form-label">Title<span class="text-danger">*</span>:</label>
            <div *ngIf="pinForm.get('title').invalid && (pinForm.get('title').dirty || pinForm.get('title').touched)"
              class="d-inline-block text-danger ml-2">
              Please provide a title.
            </div>
            <input type="text" class="form-control" formControlName="title" id="title-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Select Image<span class="text-danger">*</span>:</label>
            <div *ngIf="pinForm.get('image').invalid && (pinForm.get('image').dirty || pinForm.get('image').touched)"
              class="d-inline-block text-danger ml-2">
              Please provide a image.
            </div>
            <div appDnd (fileDropped)="onFileDropped($event)"
              class="upload-card text-center d-flex flex-column justify-content-center align-items-center">
              <input class="d-none" type="file" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event)" />
              <p class="form-control cursor-pointer overflow-hidden m-0" (click)="fileDropRef.click()">
                {{formImgName? formImgName:'Choose & Drag and Drop file here'}}
              </p>
            </div>
          </div>
          <div class="form-group">
            <label for="collaboratory-name" class="col-form-label">Select Collaboratory<span
                class="text-danger">*</span>:</label>
            <div
              *ngIf="pinForm.get('collaborators').invalid && (pinForm.get('collaborators').dirty || pinForm.get('collaborators').touched)"
              class="d-inline-block text-danger ml-2">
              Please provide a collaborators.
            </div>
            <angular2-multiselect [data]="collaboratorList" name="clb" formControlName="collaborators"
              [settings]="dropdownSettings"></angular2-multiselect>
          </div>
          <div class="form-group">
            <div class="d-block">
              <label for="privacy-name" class="col-form-label">Privacy<span class="text-danger">*</span>:</label>
              <div
                *ngIf="pinForm.get('privacy').invalid && (pinForm.get('privacy').dirty || pinForm.get('privacy').touched)"
                class="d-inline-block text-danger ml-2">
                Please provide a privacy.
              </div>
            </div>
            <div class="custom-control custom-radio d-inline-block mx-2">
              <input type="radio" name="privacy" class="custom-control-input" formControlName="privacy" value="Private"
                id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Private</label>
            </div>
            <div class="custom-control custom-radio d-inline-block">
              <input type="radio" name="privacy" class="custom-control-input" formControlName="privacy" value="Public"
                id="customCheck2">
              <label class="custom-control-label" for="customCheck2">Public</label>
            </div>
          </div>
        </form>
      </div>
      <!-- End: Modal body form details -->
      <!-- Start: Footer action button -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" #pinFormEl
          (click)="resetPinForm()">Close</button>
        <button type="button" class="btn btn-primary" (click)="savePin()">Save Details</button>
      </div>
      <!-- End: Footer action button -->
    </div>
  </div>
</div>
<!-- End: Pin form modal -->